* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: cornsilk;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 20px 50px;
  border-radius: 5px;
  background-color: brown;
  color: #f6f6f6;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
  border: 0;
  height: 50px;
  margin-bottom: 70px;
}

button:hover {
  opacity: 1;
}
.mydiv {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid brown;
}
